@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* Navbar */
  .navbar {
    @apply w-full sticky top-0 bg-primary-200 shadow-lg h-24 rounded-b-3xl z-50;
  }

  .navbar-container {
    @apply flex justify-between items-center h-full px-10;
  }

  .navbar-logo {
    @apply text-3xl text-primary-300 font-bold;
  }

  .navbar-menu {
    @apply flex justify-center items-center bg-primary-300 rounded-xl px-5 py-2;
  }

  .navbar-menu-list {
    @apply flex gap-8 text-white;
  }

  .navbar-buttons {
    @apply flex gap-2;
  }

  .button-basket {
    @apply bg-white rounded-xl p-2;
  }

  .button {
    @apply bg-primary-300 rounded-xl px-5 py-2 text-white;
  }

  /* Main Section */
  .main-section {
    @apply h-screen;
  }

  .main-section-container {
    @apply flex flex-col gap-8 items-center;
  }

  .main-section-text {
    @apply h-[250px] w-full flex flex-col gap-4 justify-center items-center ;
  }

  .main-section-text-title {
    @apply text-7xl font-bold text-primary-300;
  }
  
  .main-section-text-description {
    @apply text-base text-center;
  }

  .main-section-cards{
    @apply w-full flex justify-evenly items-center mb-10;
  }

  .main-section-card-text {
    @apply text-base text-center;
  }

  .main-section-product-card {
    @apply relative flex flex-col items-center justify-evenly shadow-xl w-[372px] h-[496px] bg-primary-200 rounded-3xl p-5;
  }

  .product-button {
    @apply w-full bg-primary-300 rounded-l-xl px-5 py-2 text-white;
  }

  .product-button-basket {
    @apply bg-white rounded-r-xl p-2 w-[58px] h-[45px] flex items-center justify-center;
  }

  .main-section-card {
    @apply flex flex-col items-center justify-between shadow-xl w-[350px] h-[384px] bg-primary-100 rounded-3xl p-5;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

/* Your custom styles below */
body {
  @apply bg-[url('./assets/background.jpg')] bg-cover bg-center;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}