@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* Navbar */
  
}

/* Your custom styles below */
body {
  @apply bg-[url('./assets/background.jpg')] bg-cover bg-center;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}